/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Source+Sans+Pro:wght@600&display=swap');


header{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns:max-content;
    align-items: center;
    top: 0;
}

/* DEZE GAAT FOUT MET MENUUUUUUU */
header section{
  display: flex;
  align-items: center;
}


/* height toegevoegd omdat het anders smaller werd */
img.logo{
  min-width: 2em;
  max-width: 4em;
  min-height: 2em;
  max-height: 4em;
}


/* height toegevoegd omdat het anders smaller werd */
img.locatie{
  min-width: 2em;
  max-width: 4em;
  min-height: 2em;
  max-height: 4em;
  margin-left: auto;
}


main section{
  /* elementen in de section centreren */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  background-color: #DB0032;
}


main section:first-of-type{
  position: relative;
}


main section:first-of-type img{
  width: 100%;
}


main section:first-of-type h1{
  position: absolute;
  top: 1%;
  font-size: 9vw;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}


main section:first-of-type ul{
  position: absolute;
  top: 15%;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding:1em;
}




main section:first-of-type ul li{
  color: white;
  position: relative;
  width: 25%;
  text-align: center;
  padding: 0.75em;
  font-family: 'Source Sans Pro', sans-serif;
}


/* +new+ items gaan -0.5em boven de li items */
/* left & right 0 betekent dat het de volledige breedte van li is */
main section:first-of-type ul li span{
  position: absolute;
  right: 0;
  left: 0;
  top: -0.5em;
}


main section:nth-of-type(2){
  background-color: #e50e35;
}


main section:nth-of-type(2) img{
  width: 90vw;
}


main section:nth-of-type(3){
  background-color: #1E3932;
}


main section:nth-of-type(3) img{
  width: 90vw;
}


main section:nth-of-type(4){
  background-color: #e50e35;
}


main section:nth-of-type(4) img{
  width: 90vw;
}

main span{
  color: #1E3932;
}



h2{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6vw;
  width: 65vw;
  text-align: center;
}


h3{
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 5vw;
  padding: 1em;
}


a{
  color: white;
  text-decoration: none;
}


footer img{
  display: flex;
  align-self: flex-end;
}


/* MENU */

/* menu button */
nav button{
  width: 1em;
  height: 1em;
  border: none;

  position: relative;
  z-index: 100;
}

/* om menu boven de rest vd items te krijgen in header */
/* nav {
  order:-1;  
} */

button{
  position: relative;
  left: 25em;
  bottom: 5em;
  background-color: white;
}


nav button::before{ 
  content: "\2630 ";  /* hamburger menu */
  transform: scale(.75); 
  width: 2em;
  height: 1em;
  font-size: 20px;
}


nav.toonMenu button::before{
  content: "/274C"; /* kruisje */
}


/* menu met de linkjes naar pagina's */
nav ul{
  list-style: none;
  padding: 3em; /* padding 3em voor de bovenkant */
  background-color: black;

  position: absolute;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: .5s;

  z-index: 99;
}

nav.toonMenu ul{
  transform: scaleY(1);
}

/* een linkje in de menulijst */
nav li{
  margin: 0;
  padding: 0;
}

nav a{
  display: flex;
  align-items: center;
  padding: .25em 1em;
  border: none;
}

@media (min-width:64em){
  nav{
    justify-self: center;
    order: 0;
  }
}

/* nav button{
  display: none;
} */

nav ul{
  position: absolute;
  transform: none;

  display: flex;

  padding: 0;
  background: none;

}

