/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  margin: 0;
  padding: 0;
}

section:first-of-type{
  background-image: url("../images/foto1.jpg");
}


section:nth-of-type(2){
  background-image: url("../images/foto2.png");
}


section:nth-of-type(3){
  background-image: url("../images/foto3.png");
}


section:nth-of-type(4){
  background-image: url("../images/foto4.png");
}


img{
  width: 50%;
}


img.logo{
  width: 10%;
}

img.locatie{
  width: 10%;
}


h1{
  color: white;
}

h2{
  color: white;
}

a{
  color: black;
  text-decoration: none;
}


main ul{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

main li{
  color: white;
}